nodered/backup.json
[{"id":"aec21922.f52838","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64527411.cd12bc","type":"mqtt-broker","z":"","name":"sensor","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c488e3c.b835a2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"def9616c.868af","type":"ui_group","z":"","name":"Trigger","tab":"","disp":true,"width":"6","collapse":false},{"id":"5be39c00.28f684","type":"ui_tab","z":"","name":"Box","icon":"dashboard","order":1},{"id":"ef762d3e.021e7","type":"ui_group","z":"","name":"Down humidity","tab":"5be39c00.28f684","order":1,"disp":true,"width":"6","collapse":false},{"id":"228cbe01.043f52","type":"ui_group","z":"","name":"Trigger","tab":"5be39c00.28f684","order":8,"disp":true,"width":"6","collapse":false},{"id":"2d89be1d.84ced2","type":"ui_group","z":"","name":"Down temperature","tab":"5be39c00.28f684","order":3,"disp":true,"width":"6","collapse":false},{"id":"8dd19805.d5f7e8","type":"ui_group","z":"","name":"Up temperature","tab":"5be39c00.28f684","order":4,"disp":true,"width":"6","collapse":false},{"id":"dbf2e191.64c28","type":"ui_group","z":"","name":"Up humidity","tab":"5be39c00.28f684","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3ea68a4.4ba558","type":"ui_group","z":"","name":"Probe temperature ","tab":"5be39c00.28f684","order":5,"disp":true,"width":"6","collapse":false},{"id":"4cb7f47.a8cd50c","type":"ui_group","z":"","name":"TDS","tab":"5be39c00.28f684","order":6,"disp":true,"width":"6","collapse":false},{"id":"694a7ed.47aaa8","type":"ui_group","z":"","name":"PH","tab":"5be39c00.28f684","order":7,"disp":true,"width":"6","collapse":false},{"id":"7d3fe615.394768","type":"mqtt in","z":"aec21922.f52838","name":"","topic":"box/capt","qos":"2","broker":"64527411.cd12bc","x":230,"y":280,"wires":[["b7a5841d.70f878"]]},{"id":"9e6685d7.fd3c68","type":"debug","z":"aec21922.f52838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":660,"wires":[]},{"id":"b7a5841d.70f878","type":"function","z":"aec21922.f52838","name":"Split","func":"var str = msg.payload;\nvar th = str.split(';');\nmsg.payload = {\n    temperature: th[0],\n    humidity: th[1],\n    temperature1: th[2],\n    humidity1: th[3],\n    temperatureProbe : th[4],\n    tds : th[5],\n    ph : th[6]\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["9e6685d7.fd3c68","ebb757dc.e97f08","28c19a41.92d1f6","8e3f169a.47ce18","dd53ca6c.75e0a8","8e637988.8e7418","b7ab3b85.768348","e51987df.6c17d8"]]},{"id":"ebb757dc.e97f08","type":"function","z":"aec21922.f52838","name":"TEMP","func":"var str = msg.payload.temperature;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["41f1ca40.70abc4","5c2b1a64.438234"]]},{"id":"28c19a41.92d1f6","type":"function","z":"aec21922.f52838","name":"HUM","func":"var str = msg.payload.humidity;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["7d540ff0.8754b","e459dc03.1f8e1"]]},{"id":"41f1ca40.70abc4","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"2d89be1d.84ced2","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":200,"wires":[]},{"id":"7d540ff0.8754b","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"ef762d3e.021e7","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":300,"wires":[]},{"id":"85435600.f882a8","type":"ui_switch","z":"aec21922.f52838","name":"","label":"AC","group":"228cbe01.043f52","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ACON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"ACOFF","offvalueType":"str","officon":"","offcolor":"","x":190,"y":760,"wires":[["b0f9bde6.d56e"]]},{"id":"b0f9bde6.d56e","type":"mqtt out","z":"aec21922.f52838","name":"AC_TRIGGER_MQTT","topic":"box/trigger","qos":"","retain":"","broker":"64527411.cd12bc","x":1020,"y":760,"wires":[]},{"id":"7a93fa84.a307c4","type":"mqtt out","z":"aec21922.f52838","name":"EV_TRIGGER_MQTT","topic":"box/trigger","qos":"","retain":"","broker":"64527411.cd12bc","x":1200,"y":960,"wires":[]},{"id":"8dc84adb.f77e98","type":"ui_button","z":"aec21922.f52838","name":"","group":"228cbe01.043f52","order":3,"width":0,"height":0,"passthru":false,"label":"Trigger EV1","color":"","bgcolor":"","icon":"","payload":"EV1","payloadType":"str","topic":"","x":210,"y":920,"wires":[["1f0e3ec4.b2ff71"]],"inputLabels":["msg.payload"]},{"id":"24cbf103.84d78e","type":"debug","z":"aec21922.f52838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":1040,"wires":[]},{"id":"1f0e3ec4.b2ff71","type":"function","z":"aec21922.f52838","name":"JOIN_EV_DELAY","func":"var EVDelay = global.get(\"EVDelay\");\nif (EVDelay!== undefined){\n    msg.payload = msg.payload + \";\" + EVDelay;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":630,"y":960,"wires":[["24cbf103.84d78e","7a93fa84.a307c4"]]},{"id":"59884027.1abcb","type":"ui_numeric","z":"aec21922.f52838","name":"","label":"Delay","group":"228cbe01.043f52","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} sec","min":0,"max":"50","step":1,"x":190,"y":834,"wires":[["5471198b.e1c548"]]},{"id":"52a4c6d2.0b7898","type":"ui_button","z":"aec21922.f52838","name":"","group":"228cbe01.043f52","order":4,"width":0,"height":0,"passthru":false,"label":"Trigger EV2","color":"","bgcolor":"","icon":"","payload":"EV2","payloadType":"str","topic":"","x":210,"y":980,"wires":[["1f0e3ec4.b2ff71"]],"inputLabels":["msg.payload"]},{"id":"5471198b.e1c548","type":"function","z":"aec21922.f52838","name":"SAVE_EV_DELAY","func":"global.set('EVDelay',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":834,"wires":[[]]},{"id":"94a5a8fc.367408","type":"ui_button","z":"aec21922.f52838","name":"","group":"228cbe01.043f52","order":4,"width":0,"height":0,"passthru":false,"label":"Trigger EV3","color":"","bgcolor":"","icon":"","payload":"EV3","payloadType":"str","topic":"","x":210,"y":1040,"wires":[["1f0e3ec4.b2ff71"]],"inputLabels":["msg.payload"]},{"id":"5c2b1a64.438234","type":"ui_chart","z":"aec21922.f52838","name":"","group":"2d89be1d.84ced2","order":0,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":240,"wires":[[],[]]},{"id":"e459dc03.1f8e1","type":"ui_chart","z":"aec21922.f52838","name":"","group":"ef762d3e.021e7","order":0,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":340,"wires":[[],[]]},{"id":"8e3f169a.47ce18","type":"function","z":"aec21922.f52838","name":"TEMP1","func":"var str = msg.payload.temperature1;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["707b3e08.89e97","2e52d4f.dc8f72c"]]},{"id":"dd53ca6c.75e0a8","type":"function","z":"aec21922.f52838","name":"HUM1","func":"var str = msg.payload.humidity1;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":20,"wires":[["e055ada8.a68ad","fe8b5c32.d5ff6"]]},{"id":"8e637988.8e7418","type":"function","z":"aec21922.f52838","name":"TEMPPROBE","func":"var str = msg.payload.temperatureProbe;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":400,"wires":[["cb37260c.b9fbd8","5b8f22f2.b753ac"]]},{"id":"b7ab3b85.768348","type":"function","z":"aec21922.f52838","name":"TDS","func":"var str = msg.payload.tds;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["4dd43d95.061604","ec521921.80e1c8"]]},{"id":"e51987df.6c17d8","type":"function","z":"aec21922.f52838","name":"PH","func":"var str = msg.payload.ph;\nvar th = str.split(':');\nmsg.payload = th[1];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["ea3c167e.10bdd8","29b2f4ca.9d227c"]]},{"id":"707b3e08.89e97","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"8dd19805.d5f7e8","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":100,"wires":[]},{"id":"e055ada8.a68ad","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"dbf2e191.64c28","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":20,"wires":[]},{"id":"2e52d4f.dc8f72c","type":"ui_chart","z":"aec21922.f52838","name":"","group":"8dd19805.d5f7e8","order":0,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":140,"wires":[[],[]]},{"id":"fe8b5c32.d5ff6","type":"ui_chart","z":"aec21922.f52838","name":"","group":"dbf2e191.64c28","order":0,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":60,"wires":[[],[]]},{"id":"5b8f22f2.b753ac","type":"ui_chart","z":"aec21922.f52838","name":"","group":"f3ea68a4.4ba558","order":0,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":440,"wires":[[],[]]},{"id":"cb37260c.b9fbd8","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"f3ea68a4.4ba558","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":400,"wires":[]},{"id":"ec521921.80e1c8","type":"ui_chart","z":"aec21922.f52838","name":"","group":"4cb7f47.a8cd50c","order":0,"width":0,"height":0,"label":"TDS chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1100,"y":520,"wires":[[],[]]},{"id":"4dd43d95.061604","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"4cb7f47.a8cd50c","order":1,"width":"6","height":"5","gtype":"gage","title":"TDS","label":"PPM","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":480,"wires":[]},{"id":"ea3c167e.10bdd8","type":"ui_gauge","z":"aec21922.f52838","name":"","group":"694a7ed.47aaa8","order":1,"width":"6","height":"5","gtype":"gage","title":"PH","label":"PH","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":560,"wires":[]},{"id":"29b2f4ca.9d227c","type":"ui_chart","z":"aec21922.f52838","name":"","group":"694a7ed.47aaa8","order":0,"width":0,"height":0,"label":"PH chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1100,"y":600,"wires":[[],[]]},{"id":"88ca5d1b.9414f","type":"ui_button","z":"aec21922.f52838","name":"","group":"228cbe01.043f52","order":4,"width":0,"height":0,"passthru":false,"label":"Trigger EV4","color":"","bgcolor":"","icon":"","payload":"EV4","payloadType":"str","topic":"","x":210,"y":1100,"wires":[["1f0e3ec4.b2ff71"]],"inputLabels":["msg.payload"]}]